div{
  align-items: center;
  margin: 20px;
  padding: 20px;
  font-style: italic;
  background-color:#E37222;
  border-radius: 20px;
  text-align: center;
}
a {
  color:#DFDCE3;
  text-decoration: none;
}

.flex-container {
  display: flex;
  margin-top:4em;
  flex-wrap: wrap;
  padding: 5em 12em;
}

.box {
  display: flex;
  min-width: 125px;
  justify-content: center;
  margin: 18px;
  height: 10em;
  width: 10em;
  background-color: #FC4A1A;
}

.box:hover {
  background-color: #ff9900;
}
